<!DOCTYPE html>
<html lang="js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js ハンズオン</title>
</head>
  <body>
    <div id="app">
      <!-- <input type="text" v-model="message">
      <input type="checkbox" v-model="isChecked">
      <p class="g-content"><span class="title">{{message}}</span></p>
      <p>{{isChecked}}</p>
      <p>{{info}}</p>
      <img src="assets/mdon_logo.png"> -->
  
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>