<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue app</title>
  </head>
  <body>
    <script src="js/vue.2.6.11.js"></script>
    <div id="app">
      <div class="form">
        <div>{{ inputText }}</div>
        <input v-model="inputText" type="text">
        <button @click="onAdd">追加</button>
      </div>
      <ul class="lists" v-if="lists.length">
        <li v-for="(list, index) in lists">
          <input type="checkbox" v-model="list.isDone">
          <span>{{ index }} - {{ list.name }}</span>
          <span v-if="list.isDone">（済）</span>
          <span v-else>まだ</span>
          <button @click="onDelete(index)">削除</button>
        </li>
      </ul>
      <div v-if="true">
aaaaaa
      </div>
      <div v-else>aaaaaaa</div>

      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>