<template>
    <p class="g-content"><span class="title">test</span></p>
</template>
<script>
</script>
<style lang="scss" scoped>
.g-content {
  background-color: #eee;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
}
</style>